/* Styles for Task Tracker */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
